.card{
    display: grid;
    grid-template-rows: 2em 1fr;
    grid-template-columns: repeat(2, 1fr);
    
}

.upper-text{

    grid-column: 1 / -1;
    grid-row: 1 / 2;
    
}

.upper-text{

    grid-column: 1 / -1;
    grid-row: 1 / 2;
    
}

.img{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.text-container{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
}

.movies-container{
    display: flex;
    flex-wrap: wrap;


    gap: 20px;
}